* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
}

header {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color: #4287f5;
	padding: 20px;
}

#logoheader {
	flex: 1;
	display: flex;
}

#logoheader p {
	margin-left: 10px;
	font-size: 20px;
}

#nav-container {
	flex: 2;
}

#input-container {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

#logoheader img {
	width: 60px;
	height: 50px;
}

#navegacion {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navegacion li a {
	padding: 20px;
	font-size: 25px;
	text-decoration: none;
	color: #2c41b8;
	border-radius: 15px;
	transition-property: color, background-color;
	transition-duration: 0.7s, 0.3s;
	transition-timing-function: ease-in-out;
}

#navegacion li a:hover {
	color: white;
	background-color: #2c41b8;
}

#input-container div {
	padding: 10px;
	background-color: #414c94;
	border-radius: 12px;
}

#busqueda {
	background-color: #414c94;
	outline: none;
	border: 0;
	color: white;
}

#busqueda::placeholder {
	color: white;
}

/* ############  SLIDER ############## */
#slider-container {
	display: flex;
	width: 400%;
	height: 700px;
	animation: carrousel 20s infinite alternate linear;
	/* animation-name: cambio;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

@keyframes carrousel {
	0% {
		margin-left: 0;
	}
	20% {
		margin-left: 0;
	}

	25% {
		margin-left: -100%;
	}
	45% {
		margin-left: -100%;
	}

	50% {
		margin-left: -200%;
	}
	70% {
		margin-left: -200%;
	}

	75% {
		margin-left: -300%;
	}
	100% {
		margin-left: -300%;
	}
}

#slider-container article {
	width: 100%;
}

#img1 {
	background-image: url("./img/mrrobot.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

article h2 {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	margin-left: 10px;
}
#img2 {
	background-image: url("./img/joker.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#img3 {
	background-image: url("./img/vendetta.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#img4 {
	background-image: url("./img/infinitywar.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* ########## PELICULAS #############3 */

#Peliculas {
	padding: 30px;
	background-color: rgba(23, 34, 56, 0.7);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#Peliculas h2 {
	margin: 0;
	font-size: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	width: 100%;
	margin-bottom: 20px;
}

#Peliculas article {
	width: 350px;
	height: 400px;
	padding: 10px;
	border: solid black 5px;
}

#Peliculas article img {
	width: 100%;
	height: 80%;
}
